<link rel="stylesheet" href="<%= static_path(@conn, "/css/answer.css") %>">
<div class="container">
  <%= form_for @conn, page_path(@conn, :add_answer), [id: :signupform], fn(f)-> %>
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                User Name:
                <figcaption class="text-center">username</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                </div>
              </div>
            </div>
          </article>



        </section>
    </div>
  </div>
  <button type="submit"> <%= gettext("Submit Answer") %></input>
  <% end %>
</div>



<div>
  <%= form_for @conn, page_path(@conn, :add_answer), [id: :signupform], fn(f)-> %>
  <div>
  <%= label f, :question, "Question: " %>
  <span> <%= @question.title %> </span>
  <br>
  <%= label f, :description, "Description: " %>
  <span> <%= @question.description %> </span>
  <p>by: <%= @question.first_name <> " " <> @question.last_name %></p>
</div>
<div>
    <%= if @answers != [] do %>

    <%= label f, :answers, "Answers" %>
    <%= for answer <- @answers do %>
        <div>
          <%= answer.answer_text %>
          <div>by: <%= answer.user.first_name %> <%= answer.user.last_name %> </div>
        </div>
      </br>
    <% end %>
    <% end %>
</div>
<div>
  <label> Add new answer: </label>
  <textarea name="answer" ></textarea>
  <input type="hidden"  name="question_uuid" value="<%= @question.uuid %>"></input>
</div>

  <button type="submit"> <%= gettext("Submit Answer") %></input>
  <% end %>
  <br/>
</div>
