<div>
  <%= form_for @conn, page_path(@conn, :add_answer), [id: :signupform], fn(f)-> %>
  <div>
  <%= label f, :question, "Question: " %>
  <span> <%= @question.title %> </span>
  <br>
  <%= label f, :description, "Description: " %>
  <span> <%= @question.description %> </span>
  <p>by: <%= @question.first_name <> " " <> @question.last_name %></p>
</div>
<div>
    <%= if @answers != [] do %>

    <%= label f, :answers, "Answers" %>
    <%= for answer <- @answers do %>
        <div>
          <%= answer.answer_text %>
          <div>by: <%= answer.user.first_name %> <%= answer.user.last_name %> </div>
        </div>
      </br>
    <% end %>
    <% end %>
</div>
<div>
  <label> Add new answer: </label>
  <textarea name="answer" ></textarea>
  <input type="hidden"  name="question_uuid" value="<%= @question.uuid %>"></input>
</div>

  <button type="submit"> <%= gettext("Submit Answer") %></input>
  <% end %>
  <br/>
</div>
