<div class="jumbotron">
  <h2><%= gettext "Login to %{name}!", name: "Watermark Dev Forum" %></h2>
  <div>
      <%= form_for @conn, page_path(@conn, :login_user), [id: :signupform], fn _f-> %>
      <label> Email </label>
      <input type = "text" name="user_name"> </input>
      <br/>

      <label> Password </label>
      <input type = "password" name="password"> </input>
      <br/>
      <button type="submit"> <%= gettext("Login") %></input>
      <% end %>
  </div>
</div>
