<!-- <p class ="baseline	bottom"><a href="/back_from_login_page/"> Back</a></p> -->
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                      
                      </br>
                      <%= form_for @conn, page_path(@conn, :create_user), [id: :signupform], fn f-> %>

                            <div class="form-group">

                                <%= label f, :user_name, gettext("First Name:"), class: "text-info" %>
                                <%= text_input f, :user_name, class: "form-control", required: true%>
                                <%= error_tag f, :user_name %>
                            </div>



                            <div class="form-group">
                              <%= label f, :email, gettext("Email:"), class: "text-info" %>
                              <%= email_input f, :email, class: "form-control", required: true%>
                              <%= error_tag f, :email %>
                            </div>
                            <div class="form-group">
                              <%= label f, :password, gettext("Password:"), class: "text-info"  %>
                              <%= password_input f, :password, class: "form-control", required: true%>
                              <%= error_tag f, :password %>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>

                            <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
